.left_bar {
    background-color: coral;
    padding:10px;
    width:175px;
}
.left_button {
    background-color: beige;
    border:1px solid chocolate;
    padding:5px;
    display:block;
    margin-top:5px;
}
a:visited {
    color:purple;
}
a {
    color:blue;
    font-weight: bold;
}
ul.main {
    padding:0;
    list-style: none;
}
ul.sub-menu {
    position: relative;
    padding: 0;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
    list-style: none;
}
li.item span {
    position: relative;
}
ul.sub-menu li.item span::before {
    content: '';
    height: 100%;
    width: 10px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: -1;
}
table.drilldown_data {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
}
td.column_label,th.column_label {
    font-weight: bold;
    padding-left: 5px;
}
td.column_data,th.column_data {
    padding: 10px;
    text-align: center;
}
thead.drilldown_header {
    background-color: tan;
    border: 1px solid black;
}
a.hyperlink_button {
    border: 1px solid #2e6da4;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
    padding: 1px 5px;
    border-radius: 3px;
    text-decoration: none;
}
